.img-container img {
    display: block;
    margin: auto;
    margin-top: 60px;
}

.price {
    font-size: 23px;
    color: gray;
}

.time {
    font-size: 13px;
    color: gray;
}

.notification{
    display:block;
    margin: auto;
    width: auto;
    padding: 30px;
    background-color: #eaeaea;
    border: solid 1px black;
    position: fixed;
    bottom:0;
    right: 0;
  }
  